@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Times";
  font-size: 2em;
}

h1 {
  font-family: "Courier New";
  font-size: 4em;
}

h1 a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

a, a:hover {
  color: #ff8400;
}
